# ============================================================================================================
# FILES AND FOLDERS TO IGNORE
# ============================================================================================================
 
# =[ VIM ]====================================================================================================
# -[ TEMPORARY FILES ]----------------------------------------------------------------------------------------
*~
*_SAVE.*
# -[ SWAP FILES ]---------------------------------------------------------------------------------------------
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
# -[ COMMANDS :CS, :CTAGS ]-----------------------------------------------------------------------------------
tags
cscope.*
# -[ SESSIONS ]-----------------------------------------------------------------------------------------------
Session.vim
# -[ NETWORK ORIENTED READING ]-------------------------------------------------------------------------------
.netrwhist

# =[ VSCODE ]=================================================================================================
.DS_Store

# =[ SUB_FOLDERS ]============================================================================================
mlx/
src/**/build
src/**/docs

# =[ FILES ]==================================================================================================
*.log
env_file

